.ft-third {
  /* background-color: rgb(101, 159, 210); */
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.team-macduck {
  width: 1296px;
  margin: 0 auto;
}

.ft-title {
  font-size: 40px;
  font-weight: bold;
}

.team {
  display: flex;
  justify-content: space-around;
}

.members {
  /* background-color: tomato; */
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
}

.members img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
}

.ft-name {
}

.ft-position {
}