.ft-third {
  width: 1440px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.team-macduck {
  width: 1296px;
  margin: 0 auto;
}

.ft-title {
  text-align: center;
  padding: 40px 0;
  font-size: 40px;
  font-weight: bold;
}

.team {
  display: flex;
  justify-content: center;
}

.members {
  width: 200px;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.members img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
}

.ft-position {
.members:nth-child(2) img {
  background-color: rgb(98, 150, 198);
}

.members:nth-child(3) img {
  background-color: rgb(141, 216, 134);
}

.ft-name {
  font-weight: bold;
  margin: 5px;
}