.modal-login {
  margin: auto;
  
}

.modal-login-logo {
  width: 30%;
  height: auto;
  /* margin-left: 40%; */
}

.close-btn {
  width: 1.5%;
  height: auto;
  text-align: center;
}
 
.input-login {
  width: 50%;
  height: 8%;
  margin: 2%;
  font-size: 20px;
  text-align: center;
}

.login-area {
  text-align: center;
}

.kakao_btn {
  background-image: url("../../Landing/img/kakao_login_medium_wide.png");
  background-repeat: no-repeat;
  background-size : cover;
  color: transparent;
  width: 300px;
  height: 45px;
  margin-top: 5%;
}

.signup-text {
  text-align: center;
}