.modal-login {
  margin: auto;
  
}

.modal-login-logo {
  width: 20%;
  height: auto;
  margin-left: 40%;
  
}

.close-btn {
  width: 1.5%;
  height: auto;
  text-align: center;
}
 
.input-login {
  width: 50%;
  height: auto;

}

.login-area {
  text-align: center;
  /* margin-top: 5%;
  margin-left: 30%; */
}

.kakao_btn {
  background-image: url("../../Landing/img/kakao_login_medium_wide.png");
  background-repeat: no-repeat;
  background-size : cover;
  margin: 10% 38%;
  color: transparent;
  width: 300px;
  height: 45px;
  
}

.signup-text {
  text-align: center;
}