.modal-login {
  margin: auto;
}

.desc {
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  cursor: pointer;
}

.modal-login-logo {
  width: 30%;
  margin-top: 1rem;
}

.input-login {
  width: 50%;
  height: 8%;
  margin: 2%;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto';
}

.input-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.login-btn {
  width: 10rem;
  padding: 0.5rem;
  background: #DF9632;
  color: #fff;
  border-radius: 10px;
}

.kakao_btn {
  background-image: url("../../Landing/img/kakao_login_medium_wide.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18rem;
  height: 3rem;
  margin-top: 1rem;
}

.signup-text {
  text-align: center;
  font-family: 'Noto Sans KR';
}